.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: lightgrey;
    color: black;
}
.day-card {
    background: linear-gradient(to bottom, #007AFF, #E3F2FD);
    color: black;
}
.night-card {
    background: linear-gradient(to bottom, #0A0A33, #3B3B98);
    color: white;
}
.card-body {
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullCard {
    width: 100vw;
    height: 96.5vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none; 
}

